#pager{
	background:#e0e0e0;
	width:710px;
	text-align:right;
	float:left;
}	
#pager .inner{
	float:right;
}
#pager ul,  #pager a{
	display:block;
	margin:0px 4px;
	padding:0;
	list-style:none;
	height:37px;
	line-height:37px;
	float:left;
	text-decoration:none;
	color:#000;
}		
#pager a:hover{
	text-decoration:underline;
}
#pager li{
	float:left;
	margin:0px 4px;
	padding:0;
	list-style:none;
	height:37px;
	line-height:37px;
}
#pager .selected{
	font-weight:bold;
	font-size:13px;
}
#pager .prev{
	width:17px;
}
#pager .next{
	width:222px;
	margin:0px;	
}
