*, html, a {
	font: 12px arial, helvetica, sans-serif;
	color: #333;
	line-height: 1;
	direction: ltr;
}

.signin 
{
	width: 335px;
	margin: 0 auto;
}

.signin-box 
{
	margin: 12px 0 0;
	padding: 20px 25px 20px;
	background: whiteSmoke;
	border: 1px solid #E5E5E5;
}

.signin-box h2 strong 
{
	display: inline-block;
	position: absolute;
	right: 0;
	top: 1px;
	height: 19px;
	width: 52px;
}

.signin-box h2 
{
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	margin: 0 0 1.2em;
	position: relative;
}

.signin-box label 
{
	display: block;
	margin: 0 0 1.5em;
}

.signin-box .email-label, .signin-box .passwd-label 
{
	font-weight: bold;
	margin: 0 0 .5em;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.signin-box input[type="text"], .signin-box input[type="password"] 
{
	width: 100%;
	height: 32px;
	font-size: 15px;
}

.signin-box input[type="submit"] 
{
	margin: 0 1.5em 1.2em 0;
	height: 32px;
	font-size: 13px;
}

button.g-button, input[type="submit"].g-button 
{
	height: 29px;
	line-height: 29px;
	vertical-align: bottom;
	margin: 0;
}

button, input, select, textarea 
{
	font-family: inherit;
	font-size: inherit;
}

input, input[type="password"], input[type="search"], isindex 
{
	-webkit-appearance: textfield;
	padding: 1px;
	background-color: white;
	border: 2px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}

input, textarea, keygen, select, button, isindex 
{
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: -webkit-auto;
}

.signin-box input[type="text"], .signin-box input[type="password"] 
{
	line-height: 32px;
	width:100%;
	height: 32px;
	font-size: 15px;
}

input[type="email"], input[type="password"], input[type="text"], input[type="url"] 
{
	display: inline-block;
	height: 29px;
	margin: 0;
	padding-left: 8px !important;
	background: white;
	border: 1px solid #D9D9D9 !important;
	border-top: 1px solid silver !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px !important;
}

.g-button 
{
	display: inline-block;
	min-width: 54px;
	text-align: center;
	color: #555;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	padding: 0 8px;
	line-height: 27px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-ms-transition: all 0.218s;
	-o-transition: all 0.218s;
	transition: all 0.218s;
	border: 1px solid gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

.g-button-submit 
{
	border: 1px solid #3079ED;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #4D90FE;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	cursor: pointer;
}

input[type=text]:hover, input[type=password]:hover
{
	border: 1px solid #b9b9b9;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=text]:focus, input[type=password]:focus
{
	border: 1px solid #4d90fe;
	outline-style: none;
	outline-color: invert;
	outline-width: medium;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); 
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); 
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

*+html .g-button 
{
	min-width: 70px;
}

*+html button.g-button,
*+html input[type=submit].g-button 
{
	overflow: visible;
}

label 
{
	cursor: default;	
}

.signin-box ul 
{
	margin: 0;
	padding: 15px 0 0 0;
}

ol, ul 
{
	list-style: none;
	line-height: 17px;
	margin: 0 0 1em;
}

li 
{
	margin: 0 0 .5em;
}

a {
	color: #15C;
	text-decoration: none;
}

label.error {
	margin:0 0 10px 0;
	color:#FF0000;
	background: url(../../images/erroFormulario.gif) no-repeat 0px 0px;
}
.errorSummary
{
	border: 1px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
}
.errorSummary p
{
	margin: 0;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
}
.errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

.errorSummary ul li {
	font-size: 12px;	
}

#footer {
    padding: 10px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #999999;
	width: 200px;
}

input.error 
{
	padding: 0 0 0 8px !important;
	border: 1px solid #DD4B39 !important;
}

/* mensagens */
.msg_info, .msg_success, .msg_warning, .msg_error {
	border: 1px solid;
	margin: 0 auto 15px auto;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-family: Verdana;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:left;
}
.msg_info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url(../../../images/admin/info.png);
}
.msg_success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url(../../../images/admin/success.png);
}
.msg_warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url(../../../images/admin/warning.png);
}
.msg_error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url(../../../images/admin/error.png);
}
#logo {
	background-image:url(../../../images/logo.png);
	background-repeat: no-repeat;
	width:143px;
	height:50px;
	margin: 20px auto;
}