.datagrid {
	width:100%;
    border-bottom:1px solid #000000 !important;
	padding:0;
	border-spacing:0; 	
}

.datagrid tr.header {
	background:#000000;
	height:24px;
	color: #FFFFFF;
}

.datagrid th {
	color:#FFFFFF;
	font-weight:bold;
	padding:0px 4px;
	border-top:1px solid #000000 !important;
	border-bottom:1px solid #000000 !important;
	border-right:1px solid #000000 !important;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px;
}

.datagrid td {
	color:#000000;
	border:none;
	font-weight:400!important;
	padding:4px!important;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px;
}

.datagrid td a {
	font-weight:lighter;
}

.datagrid td.primeiraColuna {
	border-left:none;
}

.datagrid tr.totalizador {
	font-weight:700;
	background-color:#F3F3F3;
}

.datagrid tr.alt {
	background-color:#e4ecf5;
}

.datagrid tr td {
	border-bottom:1px solid #999!important;
}

.datagrid tr:hover {
	
}

.datagrid th a,
.datagrid th a:hover {
	color:#FFF;
	text-decoration:underline;
}

.datagrid tr.semResultado td {
	color:#2767ae;
}

.datagrid td a,
.datagrid td a:visited,
.datagrid td a:hover,
.datagrid td a:active {
	color:#2767ae;
	text-decoration:none;
}

.datagrid th.alinEsquerda,
.datagrid td.alinEsquerda {
	text-align:left;
}

.datagrid th.alinCentro,
.datagrid td.alinCentro {
	text-align:center;
}

.datagrid th.alinDireita,
.datagrid td.alinDireita {
	text-align:right;
}

.datagrid th.fonteNegrito,
.datagrid td.fonteNegrito {
	font-weight:bold;
}

.datagrid th.naoQuebraLinha,
.datagrid td.naoQuebraLinha {
	white-space:nowrap;
}

.datagrid th.maiusculo,
.datagrid td.maiusculo {
	text-transform:uppercase;
}

.datagrid th.minusculo,
.datagrid td.minusculo {
	text-transform:lowercase;
}

.datagrid th.capitalizado,
.datagrid td.capitalizado {
	text-transform:capitalize;
}

.datagrid td.primeiraColuna {
    border-left:1px solid #B3B3B3;
}

.datagrid td.ultimaColuna {
    border-right:1px solid #B3B3B3;
}

.datagrid th.primeiraColuna {
    border-left:1px solid #B3B3B3;
}

.datagrid th.ultimaColuna {
    border-right:1px solid #B3B3B3;
}

.datagrid td.semResultado {
    border-bottom: 0 none !important;    
}

.datagrid tr.ultimaLinha,
.datagrid tr.ultimaLinha td {
    border-bottom: 0 none !important;
}